body, html {
	height:100%;
	margin:0;
	font-size:16px;
	font-family:"Lato", sans-serif;
	font-weight:400;
	line-height:1.8em;
	color:#4a1c1c;
	padding:0;
	background-color:#f3f1f1;
}
nav{
	background:#4a1c1c;
	min-width:290px;
	left:0%;
	width:100%;
	height:60px;
	position:fixed;
	text-align:right;
	z-index:1;
}
li {
	display: inline-block;
	padding-left:10px;
	color:#4a1c1c;
	background-color:#f3f1f1;
}
li:last-child {
	margin-right:10px;

	padding-right:5px;
}
a {
	text-align:left;
}
.pimg1, .pimg2 {
	position:relative;
	opacity:0.80;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
}
.pimg1 {
	background-image:url('https://images.pexels.com/photos/326424/pexels-photo-326424.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
	min-height:100%;
	width:100%;
	margin:0;
}
.pimg2 {
	background-image:url('https://images.pexels.com/photos/6444/pencil-typography-black-design.jpg?auto=compress&cs=tinysrgb&h=750&w=1260');
	height:500px;
	width:100%;
	border:#4a1c1c 5px;
}
.pimg3 {
	background-image:url('https://images.pexels.com/photos/697055/pexels-photo-697055.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
	position:relative;
	background-position:center;
	background-repeat:no-repeat;
	background-size:500px 350px;
	min-height:200px;
	min-width:170px;
	float:left;
	border: 15px solid #4a1c1c;
}
.pimg4 {
	background-image:url('../images/pimg4.jpg');
	background-repeat:no-repeat;
	background-size:150px 200px;
	height:180px;
	width:150px;
	border: 10px solid #4a1c1c;
	margin-left:35%;
}
.ptext, .border{
	background-color:#4a1c1c;
	color:#1e0000;
}
h1 {
	text-decoration:underline;
	font-size:45px;
	padding:0;
	margin:0;
}
.ptext, .border, .trans{
	background-color:transparent;
}
.ptext{
	position:absolute;
	top:50%;
	width:100%;
	text-align:center;
	color:#000;
	font-size:27px;
	letter-spacing:8px;
	text-transform:uppercase;
}
.section{
	display:grid;
	grid-template-columns:repeat (3,1fr);
	grid-gap:2em;
	text-align:center;
	padding:50px 80px;
	margin-left:15px;
}
/*#about {
	position:absolute;
	text-align:left;
	
}*/
.container {
	border:#4a1c1c 15px solid;
	display:center;
}
.container-1 {
	display:flex;
	justify-content:space-between;
	text-align:center;
	padding:15px;
}
h3, h2 {
	color:#4a1c1c;
}
h2 {
	margin-right:15px;
}
.col {
	color:grey;
}
#ts {
	display:block;
	text-align:center;
	margin-right:40px;
}
#ts1 {
	margin-right:55px;
	display:block;
}
i {
	color:#4a1c1c;
}
/*.row, .row-a, .row-b {
	display: flex;
	justify-content:space-between;
    min-width: 250px;
    width: 25%;
    height: auto;
    padding: 8px;
	margin: 15px;
	margin-top:50px;
	
	background-color:#5c3d3d;
}*/
.container-a {
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	margin-top:55px;
	margin-bottom:45px;
}
#projects {
	margin-top:55px;
	margin-bottom:45px;
}
footer{
	color:#fff;
	display:inline-block;
	background-color:#4a1c1c;
	color:white;
  width:100%;
  text-align:center;
}

@media (max-width:568px){
	.pimg1, .pimg2 {
		background-attachment:scroll;
	}
	.container, .container-1, .container-a, li{
		display:flex;
		flex-wrap:wrap;
	}
	nav {
		height: 150px;
	}
	h1 {
		text-decoration:none;
	}
	.pimg4{
		margin-left:0;
	}
	.container-1 {
		padding:0;
	}
	#projects {
		margin-left:25%;
	}
}
